html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbb;
}

#choropleth-map {
  margin: auto;
  width: 90%;
  margin-top: 72px;
  background-color: #fff;
}

#title {
  background-color: aqua;
}

path {
  stroke: #ffffff;
  stroke-width: 0.5px;
  fill: rgb(134, 141, 243);
}